<!DOCTYPE html>
<html>     
 <head>  
   
   <title> Change.ai </title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <style>
     
     #banner {
       width: 100%;
       height : 250px;
     }
   </style>
 </head>
 <body> 
  
   {%include 'nav.html'%}
    <div class='container' > 
    <h1 class='text-center mt-4 mb-2'> Change.ai</h1> 
    <img class='img-fluid' id ='banner' 
      src="https://ed-tech-website.sabyasachighos1.repl.co/static/banner.jpeg" >
   
     <h2 class='text-center mt-4 mb-2' >About Change.ai Competition Platform</h2>
     
     <p class="lead" >Change.ai is an initiative to Open Up Challenges in the domain of Data Science & Artificial Intelligence .It is a collection of data Science Competitions to Compete, Win, Practice, Learn And Build your Data Science Portfolio!Our Community is continuously growing and will be able to make a significant impact to the commuinity . Our vision is and always will be able to give back to the community . Check out our latest online competitions, where data scientists around the world submit AI models for prizes and a top spot on our leaderboard.
     </p>
       </div>
       <div class ="col-6">
       
       </div>
      
      <div class='text-center mt-4 mb-2' >
      <a type="button" class="btn btn-info " href="mailto:hello@change.ai">Join Our Community 
      </a>
      </div>
      
     <h2 class='text-center mt-4 mb-2 bg-light text-dark'> Open Competitions </h2>
   
    
      
  <div class="card-group">
    <div class="card" style="width: 18rem;">
    <img class='img-fluid' id ='banner' 
      src="https://ed-tech-website.sabyasachighos1.repl.co/static/banner3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title text-center">Malaria detection </h5>
    <p class="card-text text-center">Detection of Malaria parasites through blood smear slide images</p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Prize money : ₹200000</li>
    </ul>
    <div class="card-body">
    <a href="#" class="card-link">Link to Dataset</a>
    <a href="#" class="card-link">Leaderboard</a>
    </div>
    <a class="btn btn-primary btn-lg" href="mailto:hello@change.ai"class="btn btn-primary" >Submission link </a>
    </div>

    <div class="card" style="width: 18rem;">
    <img class='img-fluid' id ='banner'
      src="https://ed-tech-website.sabyasachighos1.repl.co/static/banner5.jpg" class="card-img-top" alt="..." height :200px>
    <div class="card-body">
    <h5 class="card-title text-center">Leaf Disease Classification  </h5>
    <p class="card-text text-center">Identify the type of disease present on a various Leaf image</p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Prize money : ₹350000</li>
    </ul>
    <div class="card-body">
    <a href="#" class="card-link">Link to Dataset</a>
    <a href="#" class="card-link">Leaderboard</a>
    </div>
    <a class="btn btn-primary btn-lg" href="mailto:hello@change.ai">Submission link </a>
    </div>
      <div class="card" style="width: 18rem;">
    <img class='img-fluid' id ='banner'
      src="https://ed-tech-website.sabyasachighos1.repl.co/static/banner6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title text-center">Fruit Price Prediction  </h5>
    <p class="card-text text-center">Estimation of Fruit prices based on market trends & global hunger index
    </p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Prize money : ₹150000</li>
    </ul>
    <div class="card-body">
    <a href="#" class="card-link">Link to Dataset</a>
    <a href="#" class="card-link">Leaderboard</a>
    </div>
    <a class="btn btn-primary btn-lg" href="mailto:hello@change.ai" class="btn btn-primary">Submission link </a>
    </div>
    
  </div
    
    </div>
      
    <div class='text-center mt-4 mb-2' >
        
     <a class="btn btn-primary btn-lg" href="mailto:hello@change.ai">Contact us </a>
  
        
      
    </div>
        {%include 'footer.html' %}
   
   
   </body>
   
  </html>    
